<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1><%= farm.name %></h1>
    <h2>Add a new product</h2>
    <form action="/farms/<%= farm._id %>/products" method="post">
      <label for="prod">Product name</label>
      <input type="text" name="name" id="name" placeholder="product" />
      <label for="price">Price</label>
      <input type="float" name="price" id="price" placeholder="price" />
      <label for="cat">Category</label>
      <select name="category" id="cat">
        <% for(let category of categories) { %>
        <option value="<%=category%>"><%=category%></option>
        <% } %>
      </select>
      <button>Submit</button>
    </form>

    <a href="/farms/<%= farm._id %>">Go back to <%= farm.name %></a>
  </body>
</html>
