<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>
  </head>
  <body>
    <h1><%= movie.name %> - <%= movie.year %></h1>
    <p>id: <%= movie.id %></p>
    <p><%= movie.description %></p>

    <form method="GET" action="/movies/<%=movie.id%>/edit">
        <button>Edit this movie</button>
      </form>
    <form method="POST" action="/movies/<%=movie.id%>?_method=DELETE">
        <button>Remove this movie</button>
      </form>
    <a href="/movies">Back to your list</a>
</html>
